<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
            <h1 align:'center'> Graphs <h1>
            <img src="static/postinout.png" alt="postinout" style="width:50%" >
            <img src="static/preinout.png" alt="preinout" style="width:50%" >
            <img src="static/poststaffcount.png" alt="poststaffcount" style="width:50%" >
            <img src="static/prestaffcount.png" alt="prestaffcount" style="width:50%" >
            <img src="static/postpatientvisit.png" alt="postpatientvisit" style="width:50%" >
            <img src="static/prepatientvisit.png" alt="prepatientvisit" style="width:50%" >
            <img src="static/postarima.png" alt="postarima" style="width:50%" >
            <img src="static/prearima.png" alt="prearima" style="width:50%" >
    </body>
</html>
